/*======================================================================
    Custom CSS
======================================================================*/
html{ -webkit-text-size-adjust: 100%;}
*{ box-sizing: border-box; outline: none !important; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.chromeperfectpixel-overlay , .chromeperfectpixel-overlay-container{ width: 100% !important; pointer-events: none !important; height: auto !important;  }
button:focus{ outline: none !important; box-shadow: none !important; }
body{font-size: 20px; line-height: 1.85; color: #282728; font-family: 'Kantumruy Pro', sans-serif;overflow-x: hidden;
margin: 0;}
img{ max-width: 100%; display: block; }
body,p, li{font-size: 18px; line-height: 1.85; color: #282728; font-family: 'Kantumruy Pro', sans-serif;font-weight: 500;}
p{margin:0 0 25px 0;}
p:last-child{ margin: 0 !important; }
h1, h2, h3, h4, h5, h6{font-size: 48px; margin-top: 0;letter-spacing: 0px; color: #0e2f56; font-weight: 700; font-family: 'Kantumruy Pro', sans-serif;
margin: 0 0 30px;}
a:hover{color: #fdc108;}
ul li {position: relative; padding-left:40px; line-height: 1.45; list-style-type: none; margin: 0 0 6px; }
ul li:last-child{margin-bottom: 0 !important;}
ul li:before {content: ""; position: absolute; top: 8px; left: 0; background-image: url(/front/images/b-arrow.png); background-repeat: no-repeat; width: 28px; height: 12px; }
ul {padding: 0; margin: 0; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{display: inline-block;}
blockquote{margin: 0; background-color: #0e192114; padding: 30px; border-left: 8px solid #0e1921;margin-bottom: 30px;}
.common-content{padding:60px 0;}
.pt-100{padding-top: 100px;}
h1, .h1{font-size: 44px;}
h2, .h2{font-size: 40px;}
h3, .h3{font-size: 36px;}
h4, .h4{font-size: 32px;}
h5, .h5{font-size: 28px;}
h6, .h6{font-size: 24px;}
a{ color: #000000; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.wrapper {max-width: 1300px; width: 100%; padding: 0 50px; margin: 0 auto; }
.common-btn{font-size: 18px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); line-height: 1.2; border: 2px solid #ffffff; background-color: transparent; padding: 17px 40px; display: inline-block;font-weight: 500; }
.common-btn:hover{color: #000000; background-color: #ffffff; }
.default-title {font-size: 46px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.304; }
.ptb-50{padding: 70px 0;}
.remove-top-padding{padding-top: 0 !important;}
.remove-bottom-padding{padding-bottom: 0 !important;}
.ptb-130{padding: 130px 0;}
/* site-header */
.site-header {position: absolute;z-index: 9; top: 0; left: 0; right: 0; width: 100%; padding: 40px 0;}
.site-logo {max-width: 230px; width: 100%; }
.site-header-wrap {display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }
.site-menu .menu .menu-list a {font-size: 18px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); line-height: 1.2; }
.site-menu .menu .menu-list a:hover{color: #fdc108;}
.site-menu .menu .menu-list:before{display: none; }
.site-menu .menu .menu-list{padding: 0 25px;margin: 0;}
.site-menu .menu{display: flex;flex-wrap: wrap; list-style-type: none; margin: 0;padding: 0;}
.site-menu .toggle{display: none;}
.toggle-button {display: block; position: relative; z-index: 9;cursor: pointer; }
.toggle {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; }
.navigation-header {padding-right: 10%; }
.toggle p {margin: 0 10px 0 0; color: #ffffff; text-transform: uppercase; letter-spacing: 8px; font-size: 20px; }
.toggle-button span {width: 40px; height: 2px; border-radius: 50px; display: block; margin-bottom: 10px; background: #ffffff; position: relative; transition: 0.5s all; }
.toggle-button span:last-child {margin-bottom: 0; }
.menu-bar {order: 3; margin-left: 20px; display: inline-block; vertical-align: middle; }
.toggle-button.active span {background: #ffffff; }
.toggle-button.active span:nth-child(1) {
    transform: rotate(45deg); top: 12px;
}
.toggle-button.active span:nth-child(2) {
    visibility: hidden; opacity: 0;
}
.toggle-button.active span:nth-child(3) {
    transform: rotate(-45deg); top: -12px;
}

/* banner-section */
.banner-section {padding-top: 50%; background: #000000; position: relative; overflow: hidden;}

.banner-image {position: absolute; top: 0; left: 0; width: 100%; object-fit: cover; height: 100%;}
.banner-content {position: absolute; top: 55%; transform: translateY(-50%); width: 100%; margin: auto; left: 0; z-index: 2; right: 0; }
.banner-section:before {position: absolute; content: ""; background-color: rgba(0,0,0,0.7); z-index: 1; width: 100%; height: 100%; top: 0; }
.sub-title {font-size: 20px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.2; letter-spacing: 0.3em; font-weight: 500; }
.section-title { font-size: 80px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); font-weight: bold; text-transform: uppercase; line-height: 1.2; text-align: left; }
.banner-content-wrap{max-width: 60%; width: 100%;}

/* about-wrap */
.about-wrap {display: flex; flex-wrap: wrap; justify-content: space-between;}
.about-img > img {width: 100%; height: 100%; object-fit: cover;}
.quality-img img {max-width: 140px; }
ul.logo-list {display: flex; flex-wrap: wrap; justify-content: center; padding: 0; margin: 0;}
ul.logo-list li {max-width: 50%; list-style-type: none; width: 100%; padding: 25px 40px; position: relative; margin: 0;}
ul.logo-list li:before {content: ""; width: 80%; left: 0; right: 0; margin: auto; height: 2px; background-color: rgba(0,0,0,0.1); bottom: 0; border: 0; top: unset; position: absolute; border-radius: unset; }
ul.logo-list li:after {content: ""; position: absolute; width: 2px; right: 0; margin: auto; height: 60%; background-color: rgba(0,0,0,0.1); top: 50%; transform: translateY(-50%); }
ul.logo-list li:nth-last-child(-n+2):before {display: none; }
ul.logo-list li:nth-child(2n+2):after {display: none; }
.about-content{max-width: 54%;width: 100%;padding: 0 40px 0 0;}
ul.logo-list li img {max-height: 80px; margin: auto; }
.about-img {max-width: 46%; width: 100%; padding: 0 0 0 40px; position: relative; }
.quality-img {position: absolute; left: 0; top: -50px; -webkit-animation: rotation 8s infinite linear; }

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
/* process-menu */
.process-menu li a {writing-mode: vertical-lr; transform: rotate(180deg); font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); text-transform: uppercase; line-height: 1.2; }
.process {position: relative;}
.process-menu {position: absolute; top: 0; left: 0; bottom: 0; height: 100%; background-color: #ffffff; z-index: 1; }
.text-center {text-align: center; }
.process-title-wrap {max-width: 933px; margin: auto;}
/*.process .wrapper {max-width: 1330px; position: relative; padding-left: 0; }*/
.process-steps {padding-left: 80px; position: relative; }
.process-menu ul {padding: 10px 30px; margin: 0; position: sticky; top: 0; list-style-type: none; min-height: 100vh; align-items: center; justify-content: center; text-align: center; align-content: center; flex-wrap: wrap; display: flex; flex-direction: column; }
.process-menu li {padding: 30px 0; margin: 0;}
.pro-wrap{position: relative;}
.process-menu ul li:before{display: none;}

/*Explore*/
.explore { position: relative; background-color: rgb(0 34 69 / 7%);}
.explore-wrap{display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;}
.explore-img {max-width: 48.5%; width: 100%; }
.explore-content {max-width: 51.5%; width: 100%; padding-left: 68px; }

.explore-count {font-size: 26px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1; margin: 0 0 13px 0; font-weight: 500;}
.explore-box p {font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1; }
.explore-lists {display: flex; flex-wrap: wrap; justify-content: flex-start; margin: -20px; }
.explore-box {max-width: 50%; width: 100%; padding: 20px; text-align: center; }
.explore-box-wrap {border: 2px solid #000; padding: 21px 14px; height: 100%;}
.large-latter {font-size: 100px; font-family: "Kantumruy Pro"; color: rgba(0, 0, 0, 0); font-weight: bold; line-height: 1; -webkit-text-stroke: 2px #ffffff; text-stroke: 2px #ffffff; text-align: right; position: absolute; bottom: 0; right: 0; text-transform: uppercase;}

/*  */
.video {position: relative;}
.video-content .default-title {font-size: 32px;}
.video-content {max-width: 56%; width: 100%; padding: 0 60px 0 0; }
.video-wrap {display: flex; flex-wrap: wrap; justify-content: flex-start;}
.video-source > img {height: 100%; width: 100%; object-fit: cover; object-position: center; }
.video-source {max-width: 44%; width: 100%; position: relative;}
.video .large-latter {right: unset; left: 0; -webkit-text-stroke: 2px rgb(0 34 71 / 10%); }


/*  */
.source-wrap p strong {font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.2; }
.source-wrap {display: flex; flex-wrap: wrap; }
.source-content {max-width: 50%; width: 100%; display: flex; flex-wrap: wrap; align-content: center; justify-content: center; padding: 42px; background-image: url(/front/images/design.jpg); color: #fff; background-repeat: no-repeat;background-size: cover;}
.source-image {max-width: 50%; width: 100%; position: relative;}
.source-image > img{width: 100%;height: 100%;object-fit: cover;}
.source-image .large-latter{line-height: 0.68;}
.source-content p {color: #fff; }
.process-menu li a:hover::after, .process-menu li a.active:after {width: 80px; transition: 0.5s; -webkit-transition: 0.5s; }
.process-menu li a::after {position: absolute; top: 46%; left: auto; width: 0px; height: 1px; background: #000; content: ""; transition: 0.5s; -webkit-transition: 0.5s; right: 30px; }

/*  */
.samples-wrap{/*padding: 0 50px;*/ display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between;}
.samples-left {max-width: 44%; width: 100%; }
.samples-right > img, .samples-left > img{width: 100%; }
.samples-left > img{margin-bottom: 30px;}
.samples-left .default-title {margin: 0;}
.samples-right {max-width: 48%; width: 100%; }
.samples-wrap .default-title {font-size: 32px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.438; }
.samples {background-color: rgb(0 34 69 / 7%); position: relative; }
/*.samples:before {content: ""; position: absolute; top: 0;  height: 100%; left: 50%; width: 100vw;transform: translateX(-50%);  background-color: rgb(0 34 69 / 7%); z-index: -1; }*/
.samples .large-latter{left: 0; right: unset; bottom: 4%;}

/* Order */
.order-wrap {display: flex; flex-wrap: wrap; margin: 0 -3px; }
.order-box {max-width: 33.33%; width: 100%; padding: 0 3px; }
.order-box-wrap {position: relative; }
.order-img {position: relative; padding-top: 121%; overflow: hidden;}
.order-img > img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; }
.order-box-wrap:hover img {transform: scale(1.2);}
.order-content {position: absolute; top: 50%; transform: translateY(-50%); text-align: center; left: 0; right: 0; margin: 0 auto; max-width: 80%;}
.order-title {font-size: 26px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.2; margin: 0 0 20px; }
.order-content p {max-width: 292px; margin: 0 auto !important; color: #fff; }

/* Ship */
.ship-wrap {display: flex;position: relative; justify-content: space-around; }
.ship-step {max-width: 33.33%; width: 100%; text-align: center; }
.ship-circle {border-radius: 50%; background-color: rgb(0, 37, 76); width: 200px; height: 200px; position: relative; margin: auto auto 28px auto; transition: all ease-in-out 0.3s;cursor: pointer;}
.ship-circle:hover {transform: scale(1.1); }
.ship-circle p {text-align: center; display: flex; align-items: center; justify-content: center; height: 100%; font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-style: italic; line-height: 1.333; flex-wrap: wrap; align-content: center; padding: 20px; border-radius: 50%; }
.ship-circle p span {display: block; width: 100%; font-weight: 800; }
.ship-circle:before {position: absolute; top: 50%; transform: translateY(-50%); width: calc(100% - 24px); height: calc(100% - 24px); border: 2px solid rgba(255,255,255,0.5); content: ""; border-radius: 50%; left: 0; right: 0; margin: auto; }
.ship-box {text-align: center; }
.ship-box > p {max-width: 260px; margin: 0 auto !important; }
.ship {background: rgb(0 34 69 / 7%); position: relative; }
/*.ship:before {content: ""; background: rgb(0 34 69 / 7%); top: 0; height: 100%; left: 50%; width: 100vw;transform: translateX(-50%);  position: absolute; z-index: -1; } */
.ship-wrap:before {content: ""; background-image: url(/front/images/bg-pattern.png); position: absolute; width: 100%; top: 0; height: 232px; background-size: 95%; background-position: top center; background-repeat: no-repeat; pointer-events: none;}
.ship-step:nth-child(2) {padding-top: 75px; }


/*  */
.focus-formula-wrap {display: flex; flex-wrap: wrap; align-items: flex-start; margin: -15px;}
.focus, .formula {padding: 15px; }
.formula {max-width: 42%; width: 100%; }
.focus {max-width: 58%; width: 100%; height: 100%; }
.formula-wrap {padding-top: 500px; position: relative; width: 100%; overflow: hidden;}
.formula-wrap img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; transition: all ease-in-out 0.3s;-webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;-o-transition: all ease-in-out 0.3s;}
.formula-wrap:hover img{transform: scale(1.2);}
.focus-title {position: absolute; bottom: 0; left: 0; padding: 40px; font-size: 32px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.375; text-align: left; margin: 0;}
.focus-wrap {padding-top: 500px; position: relative; height: 100%; overflow: hidden;}
.focus-wrap img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; transition: all ease-in-out 0.3s;-webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;-o-transition: all ease-in-out 0.3s;}
.focus-wrap:hover img{transform: scale(1.2);}

/* footer */
.site-footer-wrap {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.site-footer {background-color: #222222; padding: 80px 0;}
.footer-title {font-size: 25px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: 500; line-height: 1.2; margin: 0 0 30px 0; }
.office {max-width: 220px; width: 100%; }
.footer-links{padding: 0; list-style-type: none; }
.footer-links li a{font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(199, 199, 199); line-height: 2.222; }
.footer-links li a:hover {color: #fdc108;}
.footer-links li{padding-left: 0;margin: 0;}
.footer-links li:before{display: none;}
.social-media-list {display: flex; list-style-type: none; padding: 0; margin: 0; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.social-media {max-width: 210px; width: 100%; }
.social-media-list li a{display: inline-block; }
.social-media-list li:before{display: none;}
.social-media-list li{padding: 0;margin: 0;}
.social-media-list li a i {color: #ffffff; font-size: 30px; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; }
.social-media-list li a:hover i{color: #fdc108;}
.office a, .office p {font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(199, 199, 199); line-height: 1.556; display: inline-block; margin: 0 0 24px; }
.office a{text-decoration: underline; }
.office a:hover{color: #fdc108;}
.office .phone {font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); line-height: 1.167; text-decoration: none; margin-bottom: 0 !important;}
.form-field input {background-color: rgb(255, 255, 255, 0.102); width: 100%; border: 0; font-size: 16px; font-family: "Kantumruy Pro"; line-height: 1; color: #fff; padding: 16px 25px; opacity: 1;/* border-radius: 100px; */}
.subscribe-form{max-width: 307px;width: 100%;}
.form-field {margin-bottom: 20px; }
.form-field:last-child {margin-bottom: 0; }
.form-field button{/*border-radius: 100px;*/ border: 0; background: #fdc108; cursor: pointer;}

/*  */
.copyright p {font-size: 15px; font-family: "Kantumruy Pro"; color: #959595; line-height: 1; }
.copyright {background: #222222; text-align: center; }
.copyright-wrap {padding: 30px 0; border-top: 2px solid #959595; }


/* Signup */
.signup-form {background: url(/front/images/gray-bg.jpg) no-repeat center center; background-size: cover; }
.common-title {font-size: 48px; width:100%; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; text-transform: uppercase; line-height: 1.2; text-align: center; }
.signup-main-title{margin: 0 0 60px; }
.signup-boxes {max-width: 1170px; width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; }
.signup-box {max-width: 50%; width: 100%; border:4px solid rgb(215, 215, 215); background-color: rgb(255, 255, 255); border-right-width: 2px; position: relative; }
.recommended-box {border-left-width: 2px; border-right-width: 4px; }
.signup-box-wrap {height: 100%; padding: 70px 50px 127px; }
.signup-title {font-size: 36px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); text-transform: uppercase; font-weight: 500; line-height: 1.2; margin: 0 0 32px 0; padding-bottom: 32px; border-bottom: 1px solid rgba(0,0,0,0.1); }
.signup-title span {color: #00254c; font-weight: 700; }
.signup-subtitle {font-size: 20px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); text-transform: uppercase; line-height: 1.2; letter-spacing: 0.26em; font-weight: 600; margin-bottom: 25px; }
.signup-box-wrap p {font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.625; max-width: 380px; width: 100%; }
.signup-box-wrap .recommended {position: absolute; top: 0; left: 0; margin: 0; display: inline-block; background-color: rgb(0, 37, 76); font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); text-transform: uppercase; padding: 10px 20px; line-height: 1.2; width: auto; }
.signup-btn {position: absolute; bottom: 0; right: 0; width: auto; display: inline-block; padding: 26px 80px 26px 0px; line-height: 1; }
.signup-btn:before {width: 70px; height: 70px; content: ""; position: absolute; right: 0; background-color: #00254c; top: 0; background-image: url(/front/images/arrow.png); background-position: center; background-repeat: no-repeat; }
/* Form css for signup */
/* Hide all steps by default: */
.tab {display: none; }

.signup-form-wrap {display: flex; flex-wrap: wrap; align-items: flex-start; }
.signup-instruction {max-width: 40%; width: 100%; background-color: #f1f5f8; padding: 40px; }
.intro-title {font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.2; text-align: left; }
.signup-instruction ol {padding-left: 0; list-style-type: none; margin: 0; }
.signup-instruction ol li {font-size: 15px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.467; text-align: left; border-bottom: 1px solid rgba(0,0,0,0.05); position: relative; counter-increment: my-awesome-counter; padding: 22px 0 22px 20px; }
.signup-instruction ol li:before {content:  counter(my-awesome-counter) "."; font-size: 15px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.467; position: absolute; left: 0; }
.signup-instruction ol li:first-child {padding-top:0;}
.signup-instruction ol li:last-child {padding-bottom:0;border-bottom:0;}
.step.active:before, .step.finish:before {background-color: #002345; }
.signup-main-form {max-width: 60%; width: 100%; padding-left: 40px; }
.steps-wrap {display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 30px; }
.step {max-width: 32%; width: 100%; margin: 0; padding-bottom: 10px; font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 35, 69); line-height: 1.375; position: relative; }
.step:before {background-color: #e5e5e5; content: ""; width: 100%; height: 5px; display: inline-block; position: absolute; bottom: 0; }
.form-wrap {display: flex; flex-wrap: wrap; align-items: flex-start; margin: 0 -18px; }
.signup-field {max-width: 50%; width: 100%; padding: 0 18px; margin-bottom: 30px; }
.signup-field textarea::-ms-input-placeholder, .signup-field select::-ms-input-placeholder, .signup-field input::-ms-input-placeholder, .signup-field textarea::-webkit-input-placeholder, .signup-field select::-webkit-input-placeholder, .signup-field input::-webkit-input-placeholder, .signup-field textarea::placeholder, .signup-field select::placeholder, .signup-field input::placeholder {color: rgb(153, 153, 153); }
.signup-field select{cursor: pointer;}
.signup-field textarea, .signup-field select, .signup-field input {font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.375; width:100%; border: 0; border-bottom: 1px solid rgba(0,0,0,0.3); padding: 14px 0; }
.full-col {max-width: 100%; display: flex; flex-wrap: wrap; align-items: flex-start; }
.checkbox input {vertical-align: middle; background-color: #201c76; width: 18px; border-radius: 0; height: 18px; -webkit-appearance: none; padding: 0; cursor: pointer; }
.checkbox label {max-width: calc(100% - 36px); font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(153, 153, 153); line-height: 1.375; margin-left: auto; cursor: pointer; }
.checkbox input:checked {background-image: url(/front/images/right.png); background-repeat: no-repeat; background-size: cover; }
.steps-button {text-align: right; display: flex; flex-wrap: wrap; justify-content: flex-end; }
.steps-button button {font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: 600; line-height: 1; padding: 11px 47px; border: 2px solid #00254c; background-color: #00254c; border-radius: 0; margin:0 7px; cursor: pointer; }
.steps-button button:hover{background-color: #fff; color: #00254c; }
.signup-field textarea{resize: none;height: 80px; }
input:autofill {background-color: transparent !important; }
input:-webkit-autofill {background-color: transparent !important; }
/*  */
.inner-banner {padding-top: 57.2vh; position: relative; background-color: #000; }
img.inner-banner-img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; object-position: top center; }
.inner-banner-content {position: absolute; bottom: 60px; width: 100%; }
.banner-title{font-size: 50px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: 600; text-transform: uppercase; line-height: 1.2; margin: 0 0 10px; }
.inner-banner-content-wrap p{font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); line-height: 1.2; }
.inner-banner-content-wrap .banner-title:last-child{margin-bottom: 0;}
.inner-banner-content-wrap {position: relative; padding-bottom: 30px; }
.inner-banner-content-wrap:before{position: absolute; content: ""; left: 0; bottom: 0; background-color: rgb(253, 193, 8); width: 109px; height: 2px; }
.dark-header {background-color: #222; position: inherit; }

/**/
.blue-btn {
    color: #0e2f56;
    border-color: #0e2f56;
}
.blue-btn:hover {
    color: #ffffff;
    background-color: #0e2f56;
    border-color: #0e2f56;
}
.small-heading {
  font-size: 46px;
  font-family: "Kantumruy Pro";
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 1.304;
}
.our-service-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.services-content {
    max-width: 35%;
    width: 100%;
    padding: 0 15px;
}

.services-list {
    max-width: 66.66%;
    padding: 0 15px;
    width: 100%;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.service-box {
    max-width: 33.33%;
    width: 100%;
    padding: 15px;
    position: relative;
}

.service-box-wrap {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
    height: 100%;
    padding: 37px 15px;
}


.service-box-wrap img {
    margin: auto auto 22px auto;
    max-width: 70px;
}

.service-box-wrap p {
    font-size: 26px;
    font-family: "Kantumruy Pro";
    color: rgb(0, 0, 0);
    line-height: 1.231;
}

.service-box:nth-child(2n+2) {}

.service-box:nth-child(2), .service-box:nth-child(5), .service-box:nth-child(8) {
    top: 40px;
}

.service-box:nth-child(3), .service-box:nth-child(6), .service-box:nth-child(9) {
    top: -60px;
}
.our-service-wrap {
    padding: 60px 0 40px;
}


/*products*/
.products{background-image: url(/front/images/gray-bg.jpg); background-repeat: no-repeat; background-size: cover; }
.products-wrap{display: flex; flex-wrap: wrap; justify-content: center; }
.products-box{max-width: 50%;width: 100%;padding:0 15px; }
.products-box-wrap{display: flex; flex-wrap: wrap; align-items: center; background-color: #fff; }
.products-image {max-width: 46%; width: 100%; padding-top: 46%; position: relative; }
.products-content {max-width: 54%; width: 100%; padding: 30px; }
.products-title {font-size: 32px; font-family: "Kantumruy Pro"; color: rgb(0, 37, 76); font-weight: bold; line-height: 1.375; margin: 0 0 20px 0; }
.products-content .common-btn {padding: 9px 20px; }
.products-image img {width: 100%; position: absolute; top: 0; left: 0; object-fit: cover; object-position: center; height: 100%; }
.range-fabrics-title-sec{text-align: center;}

.range-fabrics-wrap {display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -15px; }
.range-fabrics-box {max-width: 25%; width: 100%; padding: 0 15px; }
.range-fabrics-title-sec .small-heading {margin: 0 0 10px; }
.range-fabrics-title-sec {margin: 0 0 40px;}
.range-fabrics-title {font-size: 26px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: 600; line-height: 1.077; margin: 0 0 20px; width: 100%; }
.range-fabrics-box-wrap p {font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.5; margin: 0 0 20px; }
.range-fabric-content{text-align: center; padding: 30px 15px; height: 43%; display: flex; flex-wrap: wrap; align-items: flex-start; align-content: space-between; justify-content: center; }
.range-fabric-content .common-btn {padding: 7px 18px; font-size: 16px; }
.range-fabrics-image {padding-top: 100%; position: relative; }
.range-fabrics-image img {width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.range-fabrics-box-wrap {height: 100%; }

/* Types of fabrics */
.types-fabrics-title {font-size: 30px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: 600; line-height: 1.267; text-align: center; margin: 0;}
.types-fabrics-wrap {display: flex; flex-wrap: wrap; margin: -40px -38px; }
.types-fabrics-box {max-width: 50%; width: 100%; padding: 40px 38px; }
.fabrics-img {display: flex; align-items: flex-end; margin: 0 0 35px; }
.fabrics-small-img {margin-left: -128px; display: inline-block; margin-bottom: 35px; border: 6px solid #fff; }
.fabrics-large-img {max-width: 74%; width: 100%; }
.fabrics-large-img img {width: 100%; }
.types-fabrics {padding: 100px 0; background-color: #f9f9f9; }
.types-fabrics .small-heading{margin: 0 0 50px;}

.white{color: #fff;}
.contact-page-form .small-heading{line-height: 1;}
.contact-page-form {
    padding: 75px;
    margin: 0 0 30px;
    background: #002245;
}

.contact-form form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: flex-start;
}

.contact-field {max-width: 33.33%; padding: 0 15px; width: 100%; margin-bottom: 42px; }
.contact-field input {width: 100%; background: transparent; border: 0; border-bottom: 2px solid rgba(255,255,255,0.5); padding: 15px 0;color: #ffffff !important; font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(175, 175, 175); line-height: 1.2; }
.col-full {max-width: 100%; width: 100%; }
.contact-field textarea::-webkit-input-placeholder, .contact-field input::-webkit-input-placeholder { /* Edge */ opacity: 0.5; color: #ffffff !important; }
.contact-field textarea:-ms-input-placeholder, .contact-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */ opacity: 0.5; color: #ffffff !important; }
.contact-field textarea::placeholder , .contact-field input::placeholder {opacity: 0.5; color: #ffffff !important; }
.col-full textarea {width: 100%; resize: none;color: #ffffff !important; height: 120px; padding: 15px 0; background-color: transparent; border: 0; font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(175, 175, 175); line-height: 1.2; border-bottom: 2px solid rgba(255,255,255,0.5); }

.submit {text-align: center; max-width: 100%; margin: 0 auto !important; }
.submit input[type="submit"] {display: inline-block; width: auto; background: #fdc108; padding: 12px 55px; font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(0, 34, 69) !important; cursor: pointer; line-height: 1.2; font-weight:600;border: 2px solid #fdc108; transition: all ease-in-out 0.3s;-webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;-ms-transition: all ease-in-out 0.3s;}
.submit input[type="submit"]:hover{background-color: transparent;color: #fdc108 !important;}
.contact-details {display: flex; margin: 0 -15px; flex-wrap: wrap; }
.contact-box {max-width: 33.33%; width: 100%; padding: 0 15px; }
.location-icon img {max-width: 50px; margin: auto; }
.contact-box-wrap {text-align: center; border: 25px solid rgba(253,193,8,0.46); height: 100%; display: flex; align-items: center; flex-wrap: wrap; flex-direction: column; justify-content: center; padding: 30px;}
.location-icon {margin: 0px 0 12px; }
.google-map .contact-box-wrap {padding-top: calc(100% - 30px); position: relative; border: 0; }
.google-map .contact-box-wrap iframe {position: absolute; top: 0; left: 0; right: 0; width: 100%; border: 0; height: 100%; }

.mail{margin-bottom: 42px;}

/* About Us */
.goal {display: flex; flex-wrap: wrap; }
.goal-box {max-width: 50%; width: 100%; position: relative; }
.goal-content-boxes {position: absolute; top: 40px; left: 46px; max-width: 325px; width: 100%; color: #000; }
.goal-title {font-size: 36px; font-family: "Kantumruy Pro"; color: inherit; font-weight: 600; line-height: 1.2; margin: 0 0 10px; }
.goal-content-boxes p {font-size: 18px; font-family: "Kantumruy Pro"; color: inherit; line-height: 1.556; }
.goal-box:nth-child(2) .goal-content-boxes {color: #fff;bottom: 40px;right: 46px;top: unset;left: unset;}
.about-content-box {max-width: 960px; width: 100%; text-align: center; margin: auto auto 50px auto; }
.about-title {font-size: 46px; font-weight:600; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1.2; text-align: center; width: 100%; margin: 0 0 24px; }
.about-title span {font-weight: 800; }
.ptb-120 {padding: 110px 0; }
.cta-title {font-size: 36px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.2; }
.cta-section-wrap{
  text-align: center;
}
.cta-section {padding: 60px 0; background: #f2f2f2; }
.form-error {color: red; font-size: 12px; }

