/*======================================================================
	Custom CSS
======================================================================*/
html{ -webkit-text-size-adjust: 100%;scroll-behavior: smooth;}
*{ box-sizing: border-box; outline: none !important; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.chromeperfectpixel-overlay , .chromeperfectpixel-overlay-container{ width: 100% !important; pointer-events: none !important; height: auto !important;  }
button:focus{ outline: none !important; box-shadow: none !important; }
body{font-size: 20px; line-height: 1.85; color: #282728; font-family: 'Kantumruy Pro', sans-serif;overflow-x: hidden;
margin: 0;}
img{ max-width: 100%; display: block; }
body,p, li{font-size: 18px; line-height: 1.85; color: #282728; font-family: 'Kantumruy Pro', sans-serif;font-weight: 500;}
p{margin:0 0 25px 0;}
p:last-child{ margin: 0 !important; }
h1, h2, h3, h4, h5, h6{font-size: 48px; margin-top: 0;letter-spacing: 0px; color: #0e2f56; font-weight: 700; font-family: 'Kantumruy Pro', sans-serif;
margin: 0 0 30px;}
ul li {position: relative; padding-left: 30px; list-style-type: none; }
ul li:before {border: 2px solid #fdc108; content: ""; position: absolute; width: 10px; height: 10px; border-radius: 50%; top: 9px; left: 0; }
ul {padding: 0; margin: 0; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{display: inline-block;}
blockquote{margin: 0; background-color: #0e192114; padding: 30px; border-left: 8px solid #0e1921;margin-bottom: 30px;}
.common-content{padding:60px 0;}
.pt-100{padding-top: 100px;}
h1, .h1{font-size: 44px;}
h2, .h2{font-size: 40px;}
h3, .h3{font-size: 36px;}
h4, .h4{font-size: 32px;}
h5, .h5{font-size: 28px;}
h6, .h6{font-size: 24px;}
a{ color: #000000; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.wrapper {max-width: 1300px; width: 100%; padding: 0 50px; margin: 0 auto; }
.common-btn{font-size: 18px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); line-height: 1.2; border: 2px solid #ffffff; background-color: transparent; padding: 17px 40px; display: inline-block;font-weight: 500; }
.common-btn:hover{color: #000000; background-color: #ffffff; }
.default-title {font-size: 46px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.304; }
.ptb-50{padding: 50px 0;}
.remove-top-padding{padding-top: 0 !important;}
.remove-bottom-padding{padding-bottom: 0 !important;}
.ptb-100{padding: 100px 0;}
/* site-header */
.site-header {position: absolute;z-index: 2; top: 0; left: 0; right: 0; width: 100%; padding: 40px 0;}
.site-logo {max-width: 230px; width: 100%; }
.site-header-wrap {display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }
.site-menu .menu .menu-list a {font-size: 18px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); line-height: 1.2; }
.site-menu .menu .menu-list:before{display: none; }
.site-menu .menu .menu-list{padding: 0 25px;}
.site-menu .menu{display: flex;flex-wrap: wrap; list-style-type: none; margin: 0;padding: 0;}


/* banner-section */
.banner-section {padding-top: 54.2%; background: #000000; position: relative; }
.banner-image {position: absolute; top: 0; left: 0; width: 100%; object-fit: cover; }
.banner-content {position: absolute; top: 55%; transform: translateY(-50%); width: 100%; margin: auto; left: 0; z-index: 2; right: 0; }
.banner-section:before {position: absolute; content: ""; background-color: rgba(0,0,0,0.4); z-index: 1; width: 100%; height: 100%; top: 0; }
.sub-title {font-size: 20px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.2; letter-spacing: 0.3em; font-weight: 500; }
.section-title { font-size: 80px; font-family: 'Kantumruy Pro', sans-serif; color: rgb(255, 255, 255); font-weight: bold; text-transform: uppercase; line-height: 1.2; text-align: left; }
.banner-content-wrap{max-width: 720px; width: 100%;}

/* about-wrap */
.about-wrap {display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 50px;}
.about-img > img {width: 100%; height: 100%; object-fit: cover;}
.quality-img {position: absolute; left: 0; top: -50px; }
.quality-img img {max-width: 140px; }
ul.logo-list {display: flex; flex-wrap: wrap; justify-content: center; padding: 0; margin: 0;}
ul.logo-list li {max-width: 50%; list-style-type: none; width: 100%; padding: 25px 40px; position: relative; }
ul.logo-list li:before {content: ""; width: 80%; left: 0; right: 0; margin: auto; height: 2px; background-color: rgba(0,0,0,0.1); bottom: 0; border: 0; top: unset; position: absolute; border-radius: unset; }
ul.logo-list li:after {content: ""; position: absolute; width: 2px; right: 0; margin: auto; height: 60%; background-color: rgba(0,0,0,0.1); top: 50%; transform: translateY(-50%); }
ul.logo-list li:nth-last-child(-n+2):before {display: none; }
ul.logo-list li:nth-child(2n+2):after {display: none; }
.about-content{max-width: 54%;width: 100%;padding: 0 40px 0 0;}
ul.logo-list li img {max-height: 80px; margin: auto; }
.about-img {max-width: 46%; width: 100%; padding: 0 0 0 40px; position: relative; }

/* process-menu */
.process-menu li a {writing-mode: vertical-lr; transform: rotate(180deg); font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); text-transform: uppercase; line-height: 1.2; }
.process {position: relative;}
.process-menu {position: absolute; top: 0; left: 0; bottom: 0; height: 100%; background-color: #ffffff; z-index: 1; }
.text-center {text-align: center; }
.process-title-wrap {max-width: 933px; margin: auto; padding-bottom: 50px; }
.process .wrapper {max-width: 1330px; position: relative; padding-left: 0; }
.process-steps {padding-left: 80px; position: relative; }
.process-menu ul {padding: 10px 30px; margin: 0; position: sticky; top: 0; /* transform: translate(-25%, 0); */ list-style-type: none; }
.process-menu li {padding: 30px 0; }
.pro-wrap{position: relative;}
.process-menu ul li:before{display: none;}

/*Explore*/
.explore {display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; background-color: #f2f2f2; position: relative; }
.explore-img {max-width: 48.5%; width: 100%; }
.explore-content {max-width: 51.5%; width: 100%; padding-left: 68px; }
.explore:before {content: ""; position: absolute; top: 0; left: -100vw; height: 100%; width: 200vw; background-color: #f2f2f2; z-index: -1; }
.explore-count {font-size: 26px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1; margin: 0 0 13px 0; font-weight: 500;}
.explore-box p {font-size: 16px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); line-height: 1; }
.explore-lists {display: flex; flex-wrap: wrap; justify-content: flex-start; margin: -20px; }
.explore-box {max-width: 50%; width: 100%; padding: 20px; text-align: center; }
.explore-box-wrap {border: 2px solid #000; padding: 21px 14px; }

/*  */
.video-content .default-title {font-size: 32px;}
.video-content {max-width: 56%; width: 100%; padding: 0 60px 0 30px; }
.video-wrap {display: flex; flex-wrap: wrap; justify-content: flex-start;}
.video-source > img {height: 100%; width: 100%; object-fit: cover; object-position: center; }
.video-source {max-width: 44%; width: 100%; position: relative;}


/*  */
.source-wrap p strong {font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.2; }
.source-wrap {display: flex; flex-wrap: wrap; }
.source-content {max-width: 50%; width: 100%; display: flex; flex-wrap: wrap; align-content: center; justify-content: center; padding: 42px; background-image: url(/front/images/design.jpg); color: #fff; background-repeat: no-repeat;background-size: cover;}
.source-image {max-width: 50%; width: 100%; }
.source-content p {color: #fff; }

.process-menu li a:hover::after, .process-menu li a.active:after {
    width: 80px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.process-menu li a::after {
    position: absolute;
    top: 46%;
    left: auto;
    width: 0px;
    height: 1px;
    background: #000;
    content: "";
    transition: 0.5s;
    -webkit-transition: 0.5s;
    right: 30px;
}

/*  */
.samples-wrap{padding: 0 50px; display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between;}
.samples-left {max-width: 44%; width: 100%; }
.samples-right > img, .samples-left > img{width: 100%; }
.samples-left > img{margin-bottom: 30px;}
.samples-left .default-title {margin: 0;}
.samples-right {max-width: 48%; width: 100%; }
.samples-wrap .default-title {font-size: 32px; font-family: "Kantumruy Pro"; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.438; }
.samples {background-color: #f2f2f2; position: relative; }
.samples:before {content: ""; position: absolute; top: 0; left: -100vw; height: 100%; width: 200vw; background-color: #f2f2f2; z-index: -1; }

/* Order */
.order-wrap {display: flex; flex-wrap: wrap; margin: 0 -3px; }
.order-box {max-width: 33.33%; width: 100%; padding: 0 3px; }
.order-box-wrap {position: relative; }
.order-img {position: relative; padding-top: 121%; }
.order-img > img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; }
.order-content {position: absolute; top: 50%; transform: translateY(-50%); text-align: center; left: 0; right: 0; margin: 0 auto; }
.order-title {font-size: 26px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.2; margin: 0 0 20px; }
.order-content p {max-width: 292px; margin: 0 auto !important; color: #fff; }

/* Ship */
.ship-wrap {display: flex;position: relative; justify-content: space-around; }
.ship-step {max-width: 33.33%; width: 100%; text-align: center; }
.ship-circle {border-radius: 50%; background-color: rgb(0, 37, 76); width: 200px; height: 200px; position: relative; margin: auto auto 28px auto; }
.ship-circle p {text-align: center; display: flex; align-items: center; justify-content: center; height: 100%; font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-style: italic; line-height: 1.333; flex-wrap: wrap; align-content: center; padding: 20px; border-radius: 50%; }
.ship-circle p span {display: block; width: 100%; font-weight: 800; }
.ship-circle:before {position: absolute; top: 50%; transform: translateY(-50%); width: calc(100% - 24px); height: calc(100% - 24px); border: 2px solid rgba(255,255,255,0.5); content: ""; border-radius: 50%; left: 0; right: 0; margin: auto; }
.ship-box {text-align: center; }
.ship-box > p {max-width: 260px; margin: 0 auto !important; }
.ship {background: #f2f2f2; position: relative; }
.ship:before {content: ""; background: #f2f2f2; top: 0; left: -100vw; height: 100%; width: 200vw; position: absolute; z-index: -1; } 
.ship-wrap:before {content: ""; background-image: url(/front/images/bg-pattern.png); position: absolute; width: 100%; top: 0; height: 232px; background-size: 95%; background-position: top center; background-repeat: no-repeat; pointer-events: none;}
.ship-step:nth-child(2) {padding-top: 75px; }


/*  */
.focus-formula-wrap {display: flex; flex-wrap: wrap; margin: -30px; align-items: flex-start; }
.focus, .formula {padding: 15px; }
.formula {max-width: 42%; width: 100%; }
.focus {max-width: 58%; width: 100%; height: 100%; }
.formula-wrap {padding-top: 500px; position: relative; width: 100%; }
.formula-wrap img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }
.focus-title {position: absolute; bottom: 0; left: 0; padding: 40px; font-size: 32px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.375; text-align: left; }
.focus-wrap {padding-top: 500px; position: relative; height: 100%; }
.focus-wrap img {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }


/* footer */
.site-footer-wrap {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.site-footer {background-color: #222222; padding: 80px;}
.footer-title {font-size: 25px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); font-weight: 500; line-height: 1.2; margin: 0 0 18px 0; }
.office {max-width: 220px; width: 100%; }
.footer-links{padding: 0; list-style-type: none; }
.footer-links li a{font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(199, 199, 199); line-height: 2.222; }
.footer-links li{padding-left: 0;}
.footer-links li:before{display: none;}
.social-media-list {display: flex; list-style-type: none; padding: 0; margin: 0; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.social-media {max-width: 210px; width: 100%; }
.social-media-list li a{display: inline-block; }
.social-media-list li:before{display: none;}
.social-media-list li{padding: 0;}
.social-media-list li a img{transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; }
.social-media-list li a:hover img{transform: scale(1.2); }
.office a, .office p {font-size: 18px; font-family: "Kantumruy Pro"; color: rgb(199, 199, 199); line-height: 1.556; display: inline-block; margin: 0 0 30px; }
.office a{text-decoration: underline; }
.office .phone {font-size: 24px; font-family: "Kantumruy Pro"; color: rgb(255, 255, 255); line-height: 1.167; text-decoration: none; }
.form-field input {background-color: rgb(255, 255, 255, 0.102); width: 100%; border: 0; font-size: 16px; font-family: "Kantumruy Pro"; line-height: 1; color: #fff; padding: 16px 25px; opacity: 1; border-radius: 100px; }
.subscribe-form{max-width: 307px;width: 100%;}
.form-field {margin-bottom: 20px; }
.form-field:last-child {margin-bottom: 0; }
.form-field button{border-radius: 100px; border: 0; background: #fdc108; }

