@media only screen and (max-width: 1800px) {
    /*.process{display: none;}*/
    .ptb-130 {padding:120p  x 0;}
    .section-title {font-size: 75px;}
}
@media only screen and (max-width: 1600px) {
    /*.process{display: none;}*/
    .ptb-130 {padding:110px 0;}
    .section-title {font-size: 70px;}
}
@media only screen and (max-width: 1440px) {
    /*.process{display: none;}*/
    .wrapper {padding: 0 40px;}
    .banner-section{padding-top: 60%;}
    .ptb-130 {padding:100px 0;}
    .section-title {font-size: 65px;}
    .default-title {font-size: 42px;}
    .site-header{padding: 30px 0;}
    .site-footer{padding: 70px 0;}
}
@media only screen and (max-width: 1360px) {
    /*.process{display: none;}*/
    h1, h2, h3, h4, h5, h6 {margin: 0 0 24px;}
    .ptb-130 {padding:90px 0;}
    .section-title {font-size: 60px;}
    .default-title {font-size: 38px;}
    .quality-img img{ max-width: 120px;}
    .quality-img {top: -40px;}
    .focus-wrap, .formula-wrap {padding-top: 400px;}
    .focus-title {padding: 30px; font-size: 28px;}
    .site-footer{padding: 60px 0;}
}
@media only screen and (max-width: 1200px) {
    /*.process{display: none;}*/
    .site-menu .menu .menu-list {padding: 0 15px;}
    .wrapper {padding: 0 30px;}
    .sub-title {font-size: 18px;letter-spacing: 0.2em;}
    .ptb-130 {padding:80px 0;}
    .section-title {font-size: 55px;}
    .default-title {font-size: 34px;}
    .quality-img img{ max-width: 100px;}
    .quality-img {top: -30px;}
    .site-header{padding: 20px 0;}
    .site-footer-wrap > div {max-width: 25%; width: auto; }
    .office a, .office p {font-size: 16px;}
    .footer-links li a{font-size: 16px;line-height: 2;}
    .social-media-list li a i{font-size: 24px; }
    .form-field button{font-size: 16px;padding: 14px 30px;}
    .common-btn{font-size: 16px;padding: 14px 30px;}
    .form-field input{padding: 13px 15px;}
    .footer-title {font-size: 22px; margin: 0 0 24px 0;}
    .social-media-list li {padding: 0 14px;}
    .social-media-list {margin: 0 -14px;}
    .site-footer{padding: 50px 0;}
}
@media only screen and (max-width: 1023px) {
    /*.process{display: none;}*/
    h1, h2, h3, h4, h5, h6 {margin: 0 0 18px;}
    .site-logo {max-width: 150px;}
    .common-btn { padding: 12px 22px; }
    .site-menu .menu .menu-list a {font-size: 16px;}
    .site-menu .menu .menu-list {padding: 0 10px;}
    .banner-section{padding-top: 70%;}
    .ptb-130 {padding:70px 0;}
    .section-title {font-size: 50px;}
    .sub-title {font-size: 16px;letter-spacing: 0.1em;}
    .banner-content-wrap {max-width: 70%;}
    .default-title {font-size: 30px;}
    .about-img {max-width: 100%; padding: 0; order: 1;}
    .about-content {max-width: 100%; padding: 30px 0 0 0; order: 2;}
    .quality-img{left: -10px;}
    .focus-title {padding: 24px; font-size: 24px;}
    .focus {max-width: 50%;}
    .formula {max-width: 50%;}
    .focus-wrap, .formula-wrap {padding-top: 100%;}
    .site-footer-wrap > div {max-width: 50%; width: 100%; margin-bottom: 30px;}
    .social-media-list{justify-content: flex-start;}
    .office a, .office p{max-width: 200px; display: block;}
    .site-footer{padding: 40px 0 10px 0;}

}
@media only screen and (max-width: 767px) {
    /*.process{display: none;}*/
    .ptb-130 {padding:60px 0;}
    .section-title {font-size: 45px;}
    .focus {max-width: 100%;}
    .formula {max-width: 100%;}
}
@media only screen and (max-width: 640px) {
    /*.process{display: none;}*/
    .banner-content-wrap {max-width: 100%;}
    .banner-section{padding-top: 80%;}
    .ptb-130 {padding:50px 0;}
    .section-title {font-size: 40px;}
    .default-title {font-size: 26px;}
    ul.logo-list li {max-width: 100%;}
    ul.logo-list li:after{display: none;}
    ul.logo-list li:nth-last-child(-n+2):before {display: inline-block; }
    ul.logo-list li:last-child:before {display: none; }
    .site-footer-wrap > div {max-width: 100%; width: 100%; margin-bottom: 30px;}
    .footer-title {font-size: 20px; margin: 0 0 14px 0; }
    .office a, .office p{margin: 0 0 14px;}
}
@media only screen and (max-width: 480px) {
    /*.process{display: none;}*/
    .banner-section{padding-top: 120%;}
    .ptb-130 {padding:40px 0;}
    .section-title {font-size: 32px;}
    ul.logo-list li{padding: 25px 15px;}
}