@media only screen and (max-width: 1800px) {
    .ptb-130 {padding:120px 0;}
    .ptb-120 {padding: 100px 0;}
    .section-title {font-size: 75px;}
}
@media only screen and (max-width: 1600px) {
    .ptb-130 {padding:110px 0;}
    .section-title {font-size: 70px;}
    .large-latter{font-size: 90px;}
    .process-menu li {padding: 25px 0;}
}
@media only screen and (max-width: 1440px) {
    .wrapper {padding: 0 40px;}
    .banner-section{padding-top: 60%;}
    .ptb-130 {padding:100px 0;}
    .section-title {font-size: 65px;}
    .default-title {font-size: 42px;}
    .site-header{padding: 30px 0;}
    .site-footer{padding: 70px 0;}
    .explore-content {padding-left: 58px;}
    .large-latter{font-size: 80px;}
    .ship-circle{width: 190px; height: 190px; font-size: 20px;}
    .process-menu li {padding: 20px 0;}
    .banner-title {font-size: 45px;}
    .pbt-120 {padding: 110px 0; }
    .inner-banner {padding-top: 550px;}
}
@media only screen and (max-width: 1360px) {
    h1, h2, h3, h4, h5, h6 {margin: 0 0 24px;}
    .ptb-120, .ptb-130 {padding:90px 0;}
    .section-title {font-size: 60px;}
    .default-title {font-size: 38px;}
    .quality-img img{ max-width: 120px;}
    .quality-img {top: -40px;}
    .focus-wrap, .formula-wrap {padding-top: 400px;}
    .focus-title {padding: 30px; font-size: 28px;}
    .site-footer{padding: 60px 0;}
    .explore-content {padding-left: 48px;}
    .explore-box{padding: 14px;}
    .explore-lists{margin: -14px;}
    .large-latter{font-size: 70px;}
    .video-content{padding: 0 50px 0 0;}
    .samples-wrap .default-title, .video-content .default-title {font-size: 28px; }
    .process-menu li a{font-size: 16px;}
    .process-menu li {padding: 15px 0;}
    .cta-title, .about-title {font-size: 40px;}
    .goal-title {font-size: 32px;}
    .about-content-box{margin: 0 auto 50px;}
    .cta-section {padding: 40px 0;}
    .small-heading {font-size: 42px;}
    .common-title {font-size: 44px;}
    .signup-main-title {margin: 0 0 50px; }
    .signup-box-wrap{padding: 60px 40px 110px;}
    .signup-title {font-size: 32px; margin: 0 0 28px 0; padding-bottom: 28px;}
    .service-box-wrap p {font-size: 24px;}
    .products-title {font-size: 28px;}
    .types-fabrics-box{padding: 30px 24px;}
    .fabrics-img {margin: 0 0 28px}
    .types-fabrics-wrap{margin: -30px -24px;}
}
@media only screen and (max-width: 1200px) {
    body, p, li {font-size: 16px; line-height: 1.5;}
    ul li:before{width: 8px; height: 8px;}
    ul li{margin: 0 0 14px;padding-left: 30px;}
    .process-menu li a:hover::after, .process-menu li a.active:after {width: 50px;}
    .site-menu .menu .menu-list {padding: 0 15px;}
    .wrapper {padding: 0 30px;}
    .sub-title {font-size: 18px;letter-spacing: 0.2em;}
    .ptb-120, .ptb-130 {padding:80px 0;}
    .section-title {font-size: 55px;}
    .default-title {font-size: 34px;line-height: 1.2; }
    .quality-img img{ max-width: 100px;}
    .quality-img {top: -30px;}
    .site-header{padding: 20px 0;}
    .site-footer-wrap > div {max-width: 25%; width: auto; }
    .office a, .office p {font-size: 16px;}
    .footer-links li a{font-size: 16px;line-height: 2;}
    .social-media-list li a i{font-size: 24px; }
    .form-field button{font-size: 16px;padding: 14px 30px;}
    .common-btn{font-size: 16px;padding: 14px 30px;}
    .form-field input{padding: 13px 15px;}
    .footer-title {font-size: 22px; margin: 0 0 20px 0;}
    .social-media-list li {padding: 0 14px;}
    .social-media-list {margin: 0 -14px;}
    .site-footer{padding: 50px 0;}
    .explore-content {padding-left: 38px;}
    .large-latter{font-size: 60px;}
    .video-content{padding: 0 40px 0 0;}
    .samples-wrap .default-title, .video-content .default-title {font-size: 24px; }
    .explore-box {padding: 10px; }
    .explore-lists {margin: -10px; }
    .explore-box p {font-size: 14px;}
    .explore-count {font-size: 22px;}
    .samples .large-latter{bottom: 0;}
    .process-menu li {padding: 10px 0;}
    .banner-title {font-size: 40px;}
    .inner-banner-content-wrap {padding-bottom: 20px; }
    .cta-title, .about-title {font-size: 35px;}
    .goal-title {font-size: 28px;}
    .goal-content-boxes p {font-size: 16px;}
    .about-content-box{margin: 0 auto 40px;}
    .contact-page-form {padding: 60px;}
    .contact-field{margin-bottom: 30px;}
    .col-full textarea{height: 100px;}
    .contact-field textarea, .contact-field input{font-size: 16px;}
    .contact-box-wrap{border: 18px solid rgba(253,193,8,0.46);}
    .location-icon img {max-width: 40px;}
    .common-title {font-size: 40px;}
    .signup-main-title {margin: 0 0 40px; }
    .signup-box-wrap{padding: 50px 30px 90px;}
    .signup-title {font-size: 28px;}
    .signup-subtitle{margin-bottom: 20px;}
    .signup-btn{padding: 21px 80px 21px 0px;}
    .signup-field{padding: 0 13px}
    .form-wrap{margin: 0 -13px;}
    .signup-main-form{padding-left: 30px;}
    .signup-instruction{padding: 30px;}
    .intro-title {font-size: 21px;}
    .signup-instruction ol li{padding: 15px 0 15px 20px;}
    .service-box-wrap > img {max-width: 55px;}
    .service-box-wrap p {font-size: 22px;}
    .service-box-wrap {padding: 26px 15px;}
    .service-box{padding: 12px;}
    .services-list{margin: -12px;}
    .service-box:nth-child(2), .service-box:nth-child(5), .service-box:nth-child(8) {top: 30px;}
    .service-box:nth-child(3), .service-box:nth-child(6), .service-box:nth-child(9) {top: -40px;}
    .products-content{padding: 20px;}
    .range-fabrics-title {font-size: 22px;margin: 0 0 13px;}
    .range-fabrics-box {padding: 0 12px; }
    .range-fabrics-wrap{margin: 0 -12px;}
    .range-fabrics-box-wrap p{margin: 0 0 15px; }
    .fabrics-large-img {max-width: 78%;}
    .fabrics-small-img {border: 5px solid #fff; margin-left: -80px; max-width: 40%;}
    .types-fabrics-title {font-size: 26px;}
}
@media only screen and (max-width: 1023px) {
    p {margin: 0 0 15px 0; }
    ul li{padding-left: 20px;margin: 0 0 10px;}
    .site-logo {max-width: 150px;}
    .common-btn { padding: 12px 22px; }
    .site-menu .menu .menu-list a {font-size: 16px;}
    .site-menu .menu .menu-list {padding: 0 10px;}
    .banner-section{padding-top: 70%;}
    .ptb-120, .ptb-130 {padding:70px 0;}
    .section-title {font-size: 50px;}
    .sub-title {font-size: 16px;letter-spacing: 0.1em;}
    .banner-content-wrap {max-width: 70%;}
    .default-title {font-size: 30px;}
    .about-img {max-width: 100%; padding: 0; order: 1;}
    .about-content {max-width: 100%; padding: 30px 0 0 0; order: 2;}
    .quality-img{left: -10px;}
    .focus-title {padding: 24px; font-size: 24px;}
    .focus {max-width: 50%;}
    .formula {max-width: 50%;}
    .focus-wrap, .formula-wrap {padding-top: 100%;}
    .site-footer-wrap > div {max-width: 50%; width: 100%; margin-bottom: 30px;}
    .social-media-list{justify-content: flex-start;}
    .office a, .office p{max-width: 200px; display: block;}
    .site-footer{padding: 40px 0 10px 0;}
    .large-latter{font-size: 50px;}
    .explore-img {max-width: 100%; width: 100%; }
    .explore-img img{width: 100%;}
    .explore-content {padding: 20px 0 0 0; max-width: 100%; width: 100%; }
    .video-content {padding: 0 0 20px 0;max-width: 100%;width: 100%; }
    .video-source{max-width: 100%;width: 100%;}
    .source-content {max-width: 100%; width: 100%;padding: 32px;}
    .source-image {max-width: 100%; width: 100%;}
    .samples-left {max-width: 100%; width: 100%; display: flex; flex-wrap: wrap;margin: 0 0 30px;}
    .samples-left h2{order: 2;}
    .samples-left img{order: 1;}
    .samples-right {max-width: 100%; width: 100%;display: flex; flex-wrap: wrap;}
    .samples-right h2{order: 2;}
    .samples-right img{order: 1;}
    .samples-left > img {margin-bottom: 20px; }
    .order-box {max-width: 50%;padding: 3px;}
    .order-wrap {justify-content: center;}
    .samples-right h2{margin: 0;}
    .samples-right img{margin-bottom: 20px;}
    .ship-step:nth-child(2) {padding-top: 50px; }
    .ship-circle {width: 170px; height: 170px; margin-bottom: 15px;}
    .ship-circle p{font-size: 20px;}
    .ship-box{padding: 0 10px;}
    .source-wrap p strong {font-size: 20px;}
    .banner-title {font-size: 35px;}
    .inner-banner-content-wrap:before{width: 90px;}
    .cta-title, .about-title {font-size: 30px;}
    .goal-title {font-size: 24px;}
    .goal-content-boxes p {font-size: 15px;}
    .goal-content-boxes{max-width: 70%; top: 30px; left: 30px;}
    .goal-box:nth-child(2) .goal-content-boxes{bottom: 30px; right: 28px;}
    .about-content-box{margin: 0 auto 20px;}
    .contact-field {max-width: 50%;}
    .col-full {max-width: 100% !important;}
    .small-heading {font-size: 38px;}
    .contact-box-wrap {border: 10px solid rgba(253,193,8,0.46); padding: 20px; }
    .contact-box{padding: 0 12px;}
    .contact-details{margin: 0 -12px;}
    .contact-box {max-width: 35%;}
    .contact-box.google-map {max-width: 30%; }
    .google-map .contact-box-wrap {padding-top: 80%;}
    .common-title {font-size: 36px;}
    .signup-main-title {margin: 0 0 30px; }
    .signup-title {font-size: 24px; margin: 0 0 24px 0; padding-bottom: 24px;}
    .signup-box-wrap .recommended{font-size: 14px;}
    .signup-subtitle{margin-bottom: 15px;}
    .signup-btn:before {width: 60px; height: 60px;}
    .signup-btn{padding: 16px 70px 16px 0px;}
    .signup-box-wrap {padding: 50px 25px 80px; }
    .signup-btn:before {width: 50px; height: 50px; }
    .signup-main-form {padding: 40px 0 0 0; max-width: 100%; }
    .signup-instruction {max-width: 100%;}
    .services-content {max-width: 100%;}
    .small-heading br{display: none;}
    .service-box{top: 0 !important; }
    .our-service-wrap {padding: 0; }
    .services-list {margin: 0; max-width: 100%; padding: 30px 0 0; }
    .service-box-wrap p {font-size: 18px; }
    .products-title {font-size: 24px;}
    .products-content{padding: 20px;}
    .products-box {max-width: 500px; padding: 15px; width: 100%; }
    .range-fabrics-box {max-width: 50%;}
    .range-fabrics-box {padding: 12px; }
    .range-fabrics-wrap {margin: -12px; }
    .range-fabric-content{padding: 20px 15px;}
    .fabrics-img {margin: 0 0 20px; }
    .types-fabrics-title {font-size: 22px; }
    .types-fabrics-box {padding: 20px 18px; }
    .fabrics-large-img {max-width: 84%; }
    .types-fabrics-wrap {margin: -20px -18px; }
    .inner-banner{padding-top: 480px;}
}
@media only screen and (max-width: 767px) {
    p {margin: 0 0 15px 0; }
    h1, h2, h3, h4, h5, h6 {margin: 0 0 16px; }
    .inner-banner-content-wrap p {font-size: 16px;}
    .ptb-120, .ptb-130 {padding:60px 0;}
    .banner-title br{display: none;}
    .inner-banner-content-wrap p br{display: none;}
    .section-title {font-size: 45px;}
    .focus {max-width: 100%;}
    .formula {max-width: 100%;}
    .large-latter{font-size: 40px;}
    .ship-wrap:before{display: none;}
    .ship-step {max-width: 50%;}
    .ship-wrap{flex-wrap: wrap;}
    .ship-step:nth-child(2) {padding-top: 0; }
    .ship-step{padding: 10px;}
    .process-steps {padding-left: 0;}
    .process-menu li a {writing-mode: unset;}
    .process-menu{background: transparent;width: 100%;position: inherit;}
    .process-menu ul {background-color: #ffffff;}
    .process-menu ul{min-height: auto;display: flex;flex-direction: row;}
    .process-menu li {padding: 15px;}
    .process-menu li a::after{display: none;}
    .process-menu li a.active, .process-menu li a:hover{color: #fdc108;}
    .source-content{padding: 22px;}
    .site-menu .menu{display: none;}
    .site-menu .toggle{display: inline-block;}
    .site-menu {order: 3;padding-left: 20px;}
    .site-header-wrap{justify-content: flex-start;}
    .site-btn{order: 2;margin-left: auto; }

    .site-menu .menu {position: fixed; opacity: 0;width: 0; left:0; top: 0; display: inline-block; background: #000; height: 100%; z-index: 999; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;-o-transition: all ease-in-out 0.3s;background-color:#002247;;}
    .site-menu .menu.active {width: 75%;opacity: 1;}
    .site-menu .menu .menu-list{padding: 0;}
    .site-menu .menu .menu-list a{width: 100%;padding: 15px;display: inline-block; border-bottom: 2px solid #fff;}

    .banner-title {font-size: 30px;}
    .cta-title, .about-title {font-size: 26px;}
    .goal-box {max-width: 100%;}
    .goal-box:nth-child(2) .goal-content-boxes, .goal-content-boxes{position: inherit; left: 0;right: 0;top: 0;bottom: 0; padding: 40px; width: 100%; max-width: 100%;}
    .goal-box > img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;object-fit: cover; object-position: center;}
    .contact-page-form {padding: 50px;}
    .small-heading {font-size: 34px;}
    .contact-box {max-width: 50%;padding: 15px;}
    .contact-box.google-map{order: 3;max-width: 100%;width: 100%;}
    .common-title {font-size: 32px;}
    .signup-main-title {margin: 0 0 20px; }
    .signup-subtitle{margin-bottom: 10px;}
    .signup-box{max-width: 100%;width: 100%;margin: 15px 0;}
    .signup-box-wrap .recommended {font-size: 12px; }
    .signup-title{margin: 0 0 14px 0; padding-bottom: 14px;}
    .signup-subtitle {font-size: 18px;letter-spacing: 0.16em;}
    .types-fabrics-box {max-width: 100%;}
    .fabrics-small-img {margin-left: -20%;}
    .range-fabrics-title-sec br {display: none;}


}
@media only screen and (max-width: 640px) {
    .banner-content-wrap {max-width: 100%;}
    .banner-section{padding-top: 80%;}
    .ptb-120, .ptb-130 {padding:50px 0;}
    
    .section-title {font-size: 40px;}
    .default-title {font-size: 26px;}
    ul.logo-list li {max-width: 100%;}
    ul.logo-list li:after{display: none;}
    ul.logo-list li:nth-last-child(-n+2):before {display: inline-block; }
    ul.logo-list li:last-child:before {display: none; }
    .site-footer-wrap > div {max-width: 100%; width: 100%; margin-bottom: 30px;}
    .footer-title {font-size: 20px; margin: 0 0 14px 0; }
    .office a, .office p{margin: 0 0 14px;}
    .order-box {max-width: 100%;padding: 3px 0;}
    .ship-step {max-width: 100%;padding: 20px 0 !important;}
    .ship-circle{margin: 0 auto 16px;}
    .explore-box {max-width: 100%; }
    .samples .large-latter{bottom: 0;}
    /*.process-menu li {padding: 15px 10px; }*/
    .process-menu ul{flex-wrap: unset;flex-direction: unset;justify-content: flex-start;overflow-x: auto;}
    .goal-box:nth-child(2) .goal-content-boxes, .goal-content-boxes{padding: 30px;}
    .contact-field {max-width: 100%;}
    .contact-page-form {padding: 40px; }
    .small-heading {font-size: 30px;}
    .contact-box {max-width: 100%;padding: 15px}
    .common-title {font-size: 28px;}
    .signup-field {max-width: 100%;}
    .steps-button button#prevBtn{padding: 11px 34px;}
    .step {max-width: 32%; margin: 0; font-size: 13px; }
    .service-box {max-width: 50%;}
    .services-list{justify-content: flex-start;}
    .range-fabrics-box {max-width: 400px;}
}
@media only screen and (max-width: 480px) {
    .banner-section{padding-top: 140%;}
    .ptb-120, .ptb-130 {padding:40px 0;}
    .section-title {font-size: 32px;}
    ul.logo-list li{padding: 25px 15px;}
    .site-btn{display: none;}
    .site-menu{margin-left: auto;}
    .contact-page-form {padding: 30px; }
    .steps-button button{padding: 11px 22px !important; font-size: 16px !important; }
    .products-image {max-width: 100%; padding-top: 100%;}
    .products-content {padding: 30px 20px; max-width: 100%; }
    .products-box {padding:15px 0;}
    .service-box {max-width: 250px; margin: auto; }
}